# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# IIS / Deployment
*.Publish.xml
*.azurePubxml
*.pubxml.user

# Others
*.log
*.tlog
*.vspscc
_ReSharper*/
